<template>
    <div class="page-wrapper chiller-theme toggled" v-if="showSidebar">
        <SideBar :userType="localStorageItems.userType" />

        <main class="page-content">
            <div class="container-fluid mt-5">
                <div style="text-align: center" class="mt-2 mb-4">
                    <h4> Bulk CSV file upload </h4>
                </div>

                <div class="row  mt-2 mb-4">
                    <div class="col-sm-9 mt-2 mb-4">
                        <b-form-file v-model="inputCsvFile" accept=".csv" :state="Boolean(inputCsvFile)"
                            placeholder="Choose a file or drop it here..." drop-placeholder="Drop file here...">
                        </b-form-file>
                    </div>

                    <div class="col-sm-3 mt-2 mb-4">
                        <button class="btn btn-success" v-on:click="uploadCsvFile()" style="margin-right: 7px">
                            <b-icon icon="upload" aria-hidden="true" style="margin-right: 5px"></b-icon>Upload input csv
                            file
                        </button>
                    </div>
                </div>

                <!--<div v-if="loading" class="text-center mt-2 mb-4">
                  
                    <b-spinner variant="primary" style="width: 3rem; height: 3rem; margin-right: 16px" label="Spinning">
                    </b-spinner>
                    Please wait for some time.
                </div>-->

                <div v-if="fileUploadedSuccessfullyFlag" class="text-center mt-2 mb-4">
                    The uploaded CSV file is processing for job id {{jobId}}. You can download the CSV file by below
                    link
                    <div class="text-center">

                        <router-link :to="{path:'/bulkcsvfile-download',query:{jobId:jobId}}">
                            http://ec2-65-0-40-228.ap-south-1.compute.amazonaws.com:8090/bulkcsvfile-download?jobId={{jobId}}
                        </router-link>

                    </div>

                </div>

                <div v-if="showFileUploadErrorMsg" class="text-center mt-2 mb-4 text-danger">
                    Please upload the CSV file, then click on the upload CSV button.

                </div>

                <div v-if="isUploadedCsvFileIsEmptyFlag" class="text-center mt-2 mb-4 text-danger">
                    You failed to upload the CSV file because the file was empty.
                </div>

            </div>
        </main>

    </div>
</template>

<script>
    import SideBar from "@/components/SideBar/SideBar.vue";
    import axios from "axios";
    export default {
        name: "bulkcsvfile-uploadanddownload",
        components: {
            SideBar,
        },
        data() {
            return {
                localStorageItems: [],
                userType: "",
                showSidebar: false,
                outputCsvFileName: '',
                inputCsvFile: null,
                showFileUploadErrorMsg: false,
                loading: false,
                userEmailAddress: '',
                fileUploadedSuccessfullyFlag: false,
                isUploadedCsvFileIsEmptyFlag: false,
                userPassword: '',
                jobId: '',
                fileUploadDownloadLocalStorageItems: [],
            };
        },
        mounted() {
            this.localStorageItems = JSON.parse(localStorage.getItem("Item"));
            //if localstorage is not equal to  null (login details)
            console.log("In mounted method" + this.localStorageItems)
            //if localstorage data is null
            if (this.localStorageItems != null) {
                this.showSidebar = true;
                this.userType = JSON.parse(localStorage.getItem("Item")).userType;
                this.userEmailAddress = JSON.parse(localStorage.getItem("Item")).userEmailAddress;
                this.userPassword = JSON.parse(localStorage.getItem("Item")).password;
                this.fileUploadDownloadLocalStorageItems = JSON.parse(localStorage.getItem("csvFileNameAndJobId"));
                if (this.fileUploadDownloadLocalStorageItems != null) {
                    this.jobId = JSON.parse(localStorage.getItem("csvFileNameAndJobId")).jobId;
                    this.$router.push({
                            name: 'BulkCsvDownload',
                            params: {
                                jobId: this.jobId
                            }
                        })
                        .catch(() => {});
                } else {
                    this.$router
                        .push({
                            name: "BulkCsvFileUploadDownload",
                        })
                        .catch(() => {});
                }
            } else { //else localstorage is null so redircting to login page 
                this.$router
                    .push({
                        name: "Login",
                    })
                    .catch(() => {});
            }
        },
        methods: {
            /* eslint-disable no-console */
            //for upload csv file
            uploadCsvFile() {
                if (this.inputCsvFile == null) { // if input csv file is null
                    this.showFileUploadErrorMsg = true;
                    this.isUploadedCsvFileIsEmptyFlag = false;
                    console.log("the upload csv file is  null" + this.file);
                } else {
                    //else input csv file is not null 
                    console.log("the upload  csv file is not null" + this.file);
                    this.showFileUploadErrorMsg = false;
                    let formData = new FormData();
                    formData.append('file', this.inputCsvFile);
                    axios.post(this.$baseUrl + "/uploadCsvFile/" + this.userEmailAddress + "/" + this
                            .userPassword,
                            formData, {
                                headers: {
                                    'Content-Type': 'multipart/form-data'
                                }
                            }
                        ).then((response) => {
                            this.loading = false;
                            this.file = null;
                            this.fileUploadedSuccessfullyFlag = true;
                            console.log(response.data);
                            this.outputCsvFileName = response.data.genratedCsvFile;
                            this.jobId = response.data.jobId;
                            this.isUploadedCsvFileIsEmptyFlag = response.data.isUploadedCsvFileIsEmptyFlag;
                            //if the uploaded csv file is empty 
                            if (this.isUploadedCsvFileIsEmptyFlag == true) {
                                console.log("uploaded csv file is empty");
                                this.showFileUploadErrorMsg = false;
                                this.fileUploadedSuccessfullyFlag = false;
                            } else { //if the uploaded csv file is not empty 
                                this.fileUploadedSuccessfullyFlag = true;
                                localStorage.setItem("csvFileNameAndJobId", JSON.stringify(response.data));
                            }
                            console.log('SUCCESS!!');
                        })
                        .catch((e) => {
                            this.loading = false;
                            console.log('FAILURE!!');
                            this.fileUploadedSuccessfullyFlag = false;
                            console.log(e);
                        });
                }
            },
            isDisabled: function() {
                console.log(this.file);
                return this.file == null;
            }
            /* eslint-enable no-console */
        },
    };
</script>