<template>
    <div class="page-wrapper chiller-theme toggled" v-if="showSidebar">
        <SideBar :userType="localStorageItems.userType" />

        <main class="page-content">
            <div class="container-fluid mt-5">
                <div style="text-align: center" class="mt-2 mb-4">
                    <h4> Bulk CSV file download </h4>
                </div>

                <div v-if="rowProcessingCountFlag" class="text-center mt-2 mb-4 text-success">
                    The row processing is {{count}} out of {{totalInputCsvFileRowCount}} for job id : {{jobId}}.

                </div>

                <div v-if="loading" class="text-center mt-2 mb-4 ">
                    <!-- here put a spinner or whatever you want to indicate that a request is in progress -->
                    <b-spinner variant="primary" label="Spinning" style="margin-right: 16px"></b-spinner>

                </div>

                <div v-if="csvFileDownloadFlag" class="text-center mt-2 mb-4">
                    <div class="text-center mt-2 mb-4 text-success">
                        CSV file is uploaded successfully , please download the output CSV file.
                    </div>

                    <button class="btn btn-success" v-on:click="downloadCsvFile()" style="margin-right: 7px">
                        <b-icon icon="download" aria-hidden="true" style="margin-right: 5px"></b-icon>Download output
                        csv file
                    </button>

                </div>

            </div>
        </main>

    </div>
</template>

<script>
    import SideBar from "@/components/SideBar/SideBar.vue";
    import axios from "axios";
    import http from "../http-common";
    export default {
        name: "bulkcsvfile-download",
        components: {
            SideBar,
        },
        data() {
            return {
                localStorageItems: [],
                userType: "",
                showSidebar: false,
                outputCsvFileName: '',
                loading: false,
                userEmailAddress: '',
                responseData: [],
                rowProcessingCountFlag: false,
                csvFileDownloadFlag: false,
                count: 0,
                totalInputCsvFileRowCount: 0,
                userPassword: '',
                interval: null,
                jobId: '',
                fileUploadDownloadLocalStorageItems: [],
            };
        },
        mounted() {
            this.localStorageItems = JSON.parse(localStorage.getItem("Item"));
            //if localstorage is not equal to  null
            console.log("In mounted method" + this.localStorageItems)
            if (this.localStorageItems != null) {
                this.showSidebar = true;
                this.userType = JSON.parse(localStorage.getItem("Item")).userType;
                this.userEmailAddress = JSON.parse(localStorage.getItem("Item")).userEmailAddress;
                this.userPassword = JSON.parse(localStorage.getItem("Item")).password;
                this.fileUploadDownloadLocalStorageItems = JSON.parse(localStorage.getItem("csvFileNameAndJobId"));
                if (this.fileUploadDownloadLocalStorageItems != null) {
                    this.totalInputCsvFileRowCount = JSON.parse(localStorage.getItem("csvFileNameAndJobId"))
                        .totalInputCsvFileRowCount;
                    this.outputCsvFileName = JSON.parse(localStorage.getItem("csvFileNameAndJobId")).genratedCsvFile;
                    this.jobId = JSON.parse(localStorage.getItem("csvFileNameAndJobId")).jobId;
                    if (this.totalInputCsvFileRowCount != 0) {
                        this.interval = setInterval(() => this.getOutputCsvFileRowProcessingCount(), 1000);
                        this.loading = true;
                        this.rowProcessingCountFlag = true;
                        if (this.totalInputCsvFileRowCount == this.count) {
                            this.rowProcessingCountFlag = false;
                        }
                        console.log(this.interval);
                    } else {
                        this.$router
                            .push({
                                name: "BulkCsvFileUploadDownload",
                            })
                            .catch(() => {});
                    }
                } //else fileUploadDownloadLocalStorageItems is null
                else {
                    this.$router
                        .push({
                            name: "BulkCsvFileUploadDownload",
                        })
                        .catch(() => {});
                }
            } else { //else localstorage is null
                this.$router
                    .push({
                        name: "Login",
                    })
                    .catch(() => {});
            }
            history.pushState(null, null, location.href);
            window.onpopstate = function() {
                history.go(1);
            };
        },
        beforeDestroy() {
            clearInterval(this.interval)
        },
        created() {
            /*this.responseData = this.$route.params.data;
            console.log(this.responseData);
            this.totalInputCsvFileRowCount = this.responseData.totalInputCsvFileRowCount;
            console.log("totalInputCsvFileRowCount" +this.totalInputCsvFileRowCount)
            this.outputCsvFileName = this.responseData.genratedCsvFile;*/
            let urlParams = new URLSearchParams(window.location.search);
            this.jobId = urlParams.get('jobId');
            console.log(this.jobId);
        },
        methods: {
            /* eslint-disable no-console */
            getOutputCsvFileRowProcessingCount() {
                http
                    .get("/getRowProcessingCountCsvFileOfApi/" + this.outputCsvFileName)
                    .then((response) => {
                        this.count = response.data;
                        this.loading = true;
                        this.rowProcessingCountFlag = true;
                        if (this.totalInputCsvFileRowCount == this.count) {
                            console.log("in if condition");
                            console.log(this.totalInputCsvFileRowCount)
                            clearInterval(this.interval);
                            this.rowProcessingCountFlag = false;
                            this.loading = false;
                            this.csvFileDownloadFlag = true;
                        }
                        console.log(response.data);
                    })
                    .catch((e) => {
                        console.log(e);
                    });
            },
            // for downloading csv file 
            //after clicking on download button this method call
            downloadCsvFile() {
                axios({
                        url:  this.$baseUrl+"/downloadcsvfile/" +
                            this.outputCsvFileName,
                        method: "POST",
                        responseType: "blob",
                    })
                    .then((response) => {
                        var fileURL = window.URL.createObjectURL(new Blob([response.data]));
                        var fileLink = document.createElement('a');
                        fileLink.href = fileURL;
                        fileLink.setAttribute('download', 'outputcsvreport.csv');
                        document.body.appendChild(fileLink);
                        fileLink.click();
                        console.log(response.data);
                        localStorage.removeItem("csvFileNameAndJobId");
                        this.$router
                            .push({
                                name: "BulkCsvFileUploadDownload",
                            })
                            .catch(() => {});
                    })
                    .catch((e) => {
                        console.log(e);
                    });
            },
            /* eslint-enable no-console */
        },
    };
</script>