<template>
  <div class="page-wrapper chiller-theme toggled">
    <SideBar :userType="userType" />
  </div>
        
    </template>>


<script>
import SideBar from "@/components/SideBar/SideBar.vue";
//import http from "../http-common";

export default {
  components: {
    SideBar,
  },
  data: function () {
    return {
      userType: "user",
      registeredUserDeatails: [],
    };
  },
  
};
</script>