<template>
  <div style="text-align: left">
    <div class="loginFormcard-Title mb-2" style="text-align: center">
      <h3>Login</h3>
    </div>

    <b-card class="loginFormCard-Wrapper m-auto bg-light">
      <b-form v-on:submit.prevent="submit" v-if="show">
        <div class="row">
         <b-form-group class="col-sm-12 mt-2" style="text-align: left">

        <label  for="emailAddress" style="text-align: left">Username<span
            class="text-danger">*</span></label>
        <b-form-input type="email" size="lg" placeholder="Enter the username" class=" form-control"
          id="emailAddress" name="emailAddress" :class="{
              'is-invalid': validationStatus($v.loginForm.emailAddress),
            }" v-model.trim="$v.loginForm.emailAddress.$model"></b-form-input>
        <div v-if="!$v.loginForm.emailAddress.required" class="invalid-feedback">
          The username field is required.
        </div>
        <div v-if="!$v.loginForm.emailAddress.email" class="invalid-feedback">
          The username is not valid.
        </div>
         </b-form-group>
        </div>


       <div class="row">
       <b-form-group class="col-sm-12 mt-2" style="text-align: left">
        <label  for="password" style="text-align: left"> Password<span
            class="text-danger">*</span></label>
        <b-form-input type="password" size="lg" placeholder="Enter the password" class=" form-control"
          id="password" name="password" :class="{ 'is-invalid': validationStatus($v.loginForm.password) }"
          v-model.trim="$v.loginForm.password.$model"></b-form-input>
        <div v-if="!$v.loginForm.password.required" class="invalid-feedback">
          The password field is required.
        </div>
       </b-form-group>
       </div>

        <div class=" text-center mt-2 mb-2">
          <button class=" btn btn-primary btn-lg">Login</button>
        </div>

        <div v-if="loading" class="text-center">
          <!-- here put a spinner or whatever you want to indicate that a request is in progress -->
          <b-spinner variant="primary" label="Spinning"></b-spinner>
        </div>

        <div v-if="showMsg" class="text-center">
          <span class="text-danger"> {{ msg }}</span>
        </div>

        <div class="text-center">
          <router-link to="/userregister">Need an account? Sign up!</router-link>
        </div>
      </b-form>
    </b-card>
    <div class="scorebanddiv mt-4">

      <ScoreBrand />
    </div>
  </div>
</template>

<script>
  import http from "../http-common";
  import ScoreBrand from "@/components/ScoreBrand/ScoreBrand.vue";
  import {
    required,
    email
  } from "vuelidate/lib/validators";
  export default {
    name: "login",
    components: {
      ScoreBrand,
    },
    data() {
      return {
        loginForm: {
          emailAddress: "",
          password: "",
        },
        msg: "",
        show: true,
        loading: false,
        showMsg: false,
        isEmailPwdInvalid: true,
        userEmailAddress: "",
        isAccountAlreadyLocked: true,
        isUserNotRegistered: true,
        userType: "",
      };
    },
    validations: {
      loginForm: {
        emailAddress: {
          required,
          email
        },
        password: {
          required
        },
      },
    },
    mounted() {
      this.localStorageItems = JSON.parse(localStorage.getItem("Item"));
      //if localstorage is not equal to  null
      if (this.localStorageItems != null) {
        this.$router
          .push({
            name: "creditandfraud-info",
          })
          .catch(() => {});
      } else { //else localstorage is null
        this.$router
          .push({
            name: "Login",
          })
          .catch(() => {});
      }
      history.pushState(null, null, location.href);
      window.onpopstate = function() {
        history.go(1);
      };
    },
    methods: {
      /* eslint-disable no-console */
      validationStatus: function(validation) {
        return typeof validation != "undefined" ? validation.$error : false;
      },
      submit: function() {
        this.$v.$touch();
        if (this.$v.$pendding || this.$v.$error) return;
        this.loading = true; //the loading begin
        var data = {
          emailAddress: this.loginForm.emailAddress,
          password: this.loginForm.password,
        };
        http
          .post("/login", data)
          .then((response) => {
            data = response.data;
            console.log(response.data);
            this.isEmailPwdInvalid = response.data.isEmailPwdInvalid;
            this.isUserNotRegistered = response.data.isUserNotRegistered;
            this.isAccountAlreadyLocked = response.data.isAccountAlreadyLocked;
            /// this.$cookie.set("emailAddress", this.emailAddress, "10m")
            ///console.log(this.$cookie.set("emailAddress", this.emailAddress, "10m"))
            this.userEmailAddress = response.data.userEmailAddress;
            this.userType = response.data.userType;
            //check if user is already registered or not
            if (this.isUserNotRegistered == false) {
              //user id not registered
              this.msg =
                "The user name and password that you've entered does'nt match any account. Sign up for an account";
            } else {
              // else user is registered
              //checking user account is locked or not
              if (this.isAccountAlreadyLocked == false) {
                //user account is lareday locked
                this.msg =
                  "Your account has been already locked, please contact to admin for login!.";
              } else {
                // if check email address and password is valid or not
                if (this.isEmailPwdInvalid == true) {
                  if (this.userType == "admin") {
                    this.$router
                      .push({
                        name: "UserMangement",
                      })
                      .catch(() => {});
                    // var object = {value: "value", timestamp: new Date().getTime()}
                    localStorage.setItem("Item", JSON.stringify(response.data));
                  } else {
                    this.$router
                      .push({
                        name: "creditandfraud-info",
                      })
                      .catch(() => {});
                    //storing response data in local storage
                    localStorage.setItem("Item", JSON.stringify(response.data));
                  }
                } else {
                  // email address and password is  invalid
                  this.msg = "Invalid login details please try again.";
                }
              }
            }
            this.showMsg = true;
            this.loading = false;
          })
          .catch((e) => {
            this.loading = false;
            console.log(e);
          });
      },
      /* eslint-enable no-console */
    },
  };
  /*!(function (e, t, a) {
    var c = e.head || e.getElementsByTagName("head")[0],
      n = e.createElement("script");
    (n.async = !0),
      (n.defer = !0),
      (n.type = "text/javascript"),
      (n.src = t + "/static/js/chat_widget.js?config=" + JSON.stringify(a)),
      c.appendChild(n);
  })(document, "https://app.engati.com", {
    bot_key: "8967d50b928a46d1",
    welcome_msg: true,
    branding_key: "default",
    server: "https://app.engati.com",
    e: "p",
  });*/
</script>

<style>
  .loginFormCard-Title {
    color: black;
    margin-bottom: 20px;
  }


  .loginFormCard-Wrapper {
    max-width: 650px !important;
    max-height: 650px !important;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7px;
  }

  

  .scorebanddiv {
    max-width: 650px !important;
    margin-left: auto;
    margin-right: auto;

  }

  
</style>