<template>
  <div class="page-wrapper chiller-theme toggled" v-if="showSidebar">
    <SideBar :userType="localStorageItems.userType" />
    <!--<SideBar />-->

    <main class="page-content">
      <div class="container-fluid">
        <div style="text-align: left">
          <div class="card-title" style="text-align: center">
            <h3>Get Quick Credit And Fraud Info</h3>
          </div>

          <b-card class="d-flex m-auto bg-light mb-4">
            <b-form v-on:submit.prevent="onSubmit" v-if="show">
              <div class="row pt-2 d-flex justify-content-between align-items-end">
                <b-form-group class="col-sm-3" style="width: 100%">
                  <label for="firstname">First name</label>
                  <b-form-input type="text" placeholder="Enter the first name" class="form-control" id="firstname"
                    v-model="quickcreditandfraud.firstName" name="firstname"></b-form-input>
                </b-form-group>

                <b-form-group class="col-sm-3 " style="width: 100%">
                  <label for="lastname">Last name</label>
                  <b-form-input type="text" placeholder="Enter the last name" class="form-control" id="lastname"
                    v-model="quickcreditandfraud.lastName" name="lastname"></b-form-input>
                </b-form-group>

                <b-form-group class="col-sm-3" style="width: 100%">
                  <label for="cellnumber">Cell number</label>
                  <b-form-input type="text" placeholder="Cell number starting with 0" class="form-control"
                    id="cellnumber" v-model="quickcreditandfraud.cellnumber" name="cellnumber"
                    @keypress="isNumber($event)"></b-form-input>
                </b-form-group>

                <b-form-group class="col-sm-3" style="width: 100%">
                  <label for="idnumber">Id number</label>
                  <b-form-input type="text" placeholder="Enter id Number" class="form-control" id="idnumber"
                    v-model="quickcreditandfraud.idNumber" name="idnumber" @keypress="isNumber($event)"></b-form-input>
                </b-form-group>
              </div>

              <div class="row pt-3 d-flex justify-content-between align-items-end">
                <b-form-group class="col-sm-3" style="width: 100%">
                  <button class="btn btn-primary  mt-2" style="margin-right: 20px">
                    Submit
                  </button>
                 
                  <button type="reset" class="btn btn-warning mt-2" @click="resetInput" style="margin-right: 20px">
                    Reset
                  </button>
                </b-form-group>
              </div>

              <div v-if="errorMsg" class="text-center" style="color: red">
                Either the national id number or cell number should be filled.
              </div>

              <div v-if="loading" class="text-center">
                <!-- here put a spinner or whatever you want to indicate that a request is in progress -->
                <b-spinner variant="primary" label="Spinning" style="margin-right: 16px"></b-spinner>
                Please wait for 30 seconds.
              </div>
            </b-form>
          </b-card>
        </div>

        <div class="mt-4" v-if="showSearchResult">
          <div class="card-header">
            <h5 class="text-center">Do Quick Credit And Fraud Result</h5>
          </div>
          <b-card>
            <div class="table-responsive" v-if="showTableData">
              <table class="table table-bordered" style="width: 100%">
                <tr>
                  <th>Forename1</th>
                  <th>Forename2</th>
                  <th>Surname</th>
                  <th>Date of birth</th>
                  <th>Telephone number</th>
                  <th>Title</th>
                </tr>

                <tr>
                  <td>{{ doQuickCreditAndFraudResponse.forename1 }}</td>
                  <td>{{ doQuickCreditAndFraudResponse.forename2 }}</td>
                  <td>{{ doQuickCreditAndFraudResponse.surname }}</td>
                  <td>{{ doQuickCreditAndFraudResponse.dateOfBirth }}</td>
                  <td>{{ doQuickCreditAndFraudResponse.telephoneNumbers }}</td>
                  <td>{{ doQuickCreditAndFraudResponse.title }}</td>
                </tr>

                <tr>
                  <th>Gender</th>
                  <th>Identity number1</th>
                  <th>Marital status description</th>
                  <th>Deceased date</th>
                  <th colspan="2">Credit Score</th>
                </tr>

                <tr>
                  <td>{{ doQuickCreditAndFraudResponse.gender }}</td>
                  <td>{{ doQuickCreditAndFraudResponse.identityNo1 }}</td>
                  <td>
                    {{ doQuickCreditAndFraudResponse.maritalStatusDesc }}
                  </td>
                  <td>{{ doQuickCreditAndFraudResponse.deceasedDate }}</td>
                  <td colspan="2">
                    {{ doQuickCreditAndFraudResponse.credit_Score }}
                  </td>
                </tr>

                <tr>
                  <th>Line1</th>
                  <th>Line2</th>
                  <th>Suburb</th>
                  <th>City</th>
                  <th>Postal Code</th>
                  <th>Address Date</th>
                </tr>

                <tr>
                  <td>{{ doQuickCreditAndFraudResponse.line1 }}</td>
                  <td>{{ doQuickCreditAndFraudResponse.line2 }}</td>
                  <td>{{ doQuickCreditAndFraudResponse.suburb }}</td>
                  <td>{{ doQuickCreditAndFraudResponse.city }}</td>
                  <td>{{ doQuickCreditAndFraudResponse.postalCode }}</td>
                  <td>{{ doQuickCreditAndFraudResponse.informationDate }}</td>
                </tr>

                <tr>
                  <th colspan="6">Credit Score Reasons</th>
                </tr>
                <tr>
                  <td colspan="6">
                    <ul style="text-align: left; list-style-position: inside">
                      <li v-for="(item, key) in reasonCodeValueJsonObject" :key="item.id">
                        <b> {{ key }}:</b> {{ item }}
                      </li>
                    </ul>
                  </td>
                </tr>

                <tr>
                  <th colspan="6">Fraud section</th>
                </tr>

                <tr v-if="
                    doQuickCreditAndFraudResponse.rating != null &&
                    doQuickCreditAndFraudResponse.ratingDescription != null
                  ">
                  <th>Rating</th>
                  <th colspan="2">Rating Description</th>
                  <th>Reason Code</th>
                  <th colspan="2">Reason Description</th>
                </tr>

                <tr v-if="
                    doQuickCreditAndFraudResponse.rating != null &&
                    doQuickCreditAndFraudResponse.ratingDescription != null
                  ">
                  <td>
                    {{ doQuickCreditAndFraudResponse.rating }}
                  </td>
                  <td colspan="2">
                    {{ doQuickCreditAndFraudResponse.ratingDescription }}
                  </td>
                  <td>
                    {{ doQuickCreditAndFraudResponse.fraudReasonCode }}
                  </td>
                  <td colspan="2">
                    {{ doQuickCreditAndFraudResponse.fraudReasonDescription }}
                  </td>
                </tr>

                <tr v-else>
                  <th colspan="6">No Fraud data</th>
                </tr>
              </table>

            </div>
            <div v-else>
              {{ showMessage }}
            </div>
          </b-card>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
  import http from "../http-common";
  import SideBar from "@/components/SideBar/SideBar.vue";
  //import ScoreBrand from "@/components/ScoreBrand/ScoreBrand.vue";
  //import router from '../router';
  //import SuccessMsgPage from  "./components/SuccessMsgPage.vue";
  export default {
    name: "quickcreditandfraud-info",
    components: {
      SideBar,
    },
    data() {
      return {
        quickcreditandfraud: {
          firstName: "",
          lastName: "",
          idNumber: "",
          cellnumber: "",
          loader: true,
        },
        data: "",
        doQuickCreditAndFraudResponse: [],
        localStorageItems: [],
        userEmailAddress: "",
        userPassword: "",
        show: true,
        showSidebar: false,
        loading: false,
        showSearchResult: false,
        identityNumber1: "",
        showTableData: false,
        showMessage: "",
        String: "",
        errorMsg: false,
        reasonCodeValueJsonObject: {},
        isEmailPasswordValid: true,
        baseURL: "",
      };
    },
    mounted() {
      

      this.localStorageItems = JSON.parse(localStorage.getItem("Item"));
      //if localstorage is not equal to  null
      if (this.localStorageItems != null) {
        this.userEmailAddress = JSON.parse(
          localStorage.getItem("Item")
        ).userEmailAddress;
        this.userPassword = JSON.parse(localStorage.getItem("Item")).password;
        this.showSidebar = true;
      } else { //else localstorage is null
        this.$router
          .push({
            name: "Login",
          })
          .catch(() => {});
      }
      history.pushState(null, null, location.href);
      window.onpopstate = function() {
        history.go(1);
      };
    },
    methods: {
      /* eslint-disable no-console */
      onSubmit(evt) {
        if (
          this.quickcreditandfraud.cellnumber == "" &&
          this.quickcreditandfraud.idNumber == ""
        ) {
          this.errorMsg = true;
          //this.showMessage ="Either the national id number or cell number should be filled";
        } else {
          this.loading = true; //the loading begin
          this.errorMsg = false;
          console.log(this.userPassword);
          var data = {
            firstName: this.quickcreditandfraud.firstName,
            lastName: this.quickcreditandfraud.lastName,
            idNumber: this.quickcreditandfraud.idNumber,
            userEmailAddress: this.userEmailAddress,
            userPassword: this.userPassword,
          };
          var traceUserApiData = {
            lastName: this.quickcreditandfraud.lastName,
            cellNumber: this.quickcreditandfraud.cellnumber,
            userEmailAddress: this.userEmailAddress,
            userPassword: this.userPassword,
          };
          evt.preventDefault();
          if (this.quickcreditandfraud.cellnumber == "") {
            console.log("cell number is not not entered");
            http
              .post("/creditandfraudinfo", data)
              .then((response) => {
                data = response.data;
                this.showSearchResult = true;
                this.loading = false;
                this.errorMsg = false;
                console.log("data" + this.data);
                this.doQuickCreditAndFraudResponse = response.data;
                console.log(response.data);
                this.identityNumber1 = response.data.identityNo1;
                this.isEmailPasswordValid = response.data.emailPasswordiValid;
                console.log(this.identityNumber1);
                if (this.isEmailPasswordValid == true) {
                  console.log("email and password is  valid");
                  if (this.identityNumber1 == null) {
                    this.showTableData = false;
                    this.showMessage =
                      "Data not found for first name " +
                      this.quickcreditandfraud.firstName +
                      ", last name " +
                      this.quickcreditandfraud.lastName +
                      " and  Identity number " +
                      this.quickcreditandfraud.idNumber +
                      " .";
                  } else {
                    this.showTableData = true;
                    this.reasonCodeValueJsonObject = this.doQuickCreditAndFraudResponse.reasonCodeAndValueMap;
                  }
                } else {
                  this.showMessage = "User authorization failed";
                  console.log("email and password is not valid");
                }
              })
              .catch((e) => {
                this.showSearchResult = false;
                this.loading = false;
                this.showTableData = false;
                if (e.response.status == "500") {
                  this.loading = false;
                  this.resetInput();
                  alert("Something went wrong please try again");
                }
                console.log(e);
              });
          } else {
            console.log("cell number is  entered");
            http
              .post("/getTraceUserAndCreditAndFraudInfo", traceUserApiData)
              .then((response) => {
                data = response.data;
                this.showSearchResult = true;
                this.loading = false;
                this.errorMsg = false;
                console.log("data" + this.data);
                this.doQuickCreditAndFraudResponse = response.data;
                console.log(response.data);
                this.identityNumber1 = response.data.identityNo1;
                this.isEmailPasswordValid = response.data.emailPasswordiValid;
                if (this.isEmailPasswordValid == true) {
                  console.log("email and password is  valid");
                  if (this.identityNumber1 == null) {
                    this.showTableData = false;
                    this.errorMsg = false;
                    this.showMessage =
                      "The id, name/surname combination does not match our home affairs verified data";
                  } else {
                    this.showTableData = true;
                    this.reasonCodeValueJsonObject = this.doQuickCreditAndFraudResponse.reasonCodeAndValueMap;
                  }
                } else {
                  this.showMessage = "User authorization failed";
                  console.log("email and password is not valid");
                }
              })
              .catch((e) => {
                this.showSearchResult = false;
                this.loading = false;
                this.errorMsg = false;
                this.showTableData = false;
                if (e.response.status == "500") {
                  this.loading = false;
                  this.resetInput();
                  alert("Something went wrong please try again");
                }
                console.log(e);
              });
          }
        }
      },
      //method call on reset button
      resetInput() {
        this.quickcreditandfraud.firstName = "";
        this.quickcreditandfraud.lastName = "";
        this.quickcreditandfraud.idNumber = "";
        this.quickcreditandfraud.cellnumber = "";
      },
      isNumber: function(evt) {
        evt = evt ? evt : window.event;
        var charCode = evt.which ? evt.which : evt.keyCode;
        if (
          charCode > 31 &&
          (charCode < 48 || charCode > 57) &&
          charCode !== 46
        ) {
          evt.preventDefault();
        } else {
          return true;
        }
      },
      /* eslint-enable no-console */
    },
  };
</script>

<style>
  .table-responsive {
    overflow-y: scroll;
    height: 450px;
  }
</style>
