<!--<template>

    <SideBar />
    <div style="text-align: center">
      <!--<div class="col-2 text-left">
            <button  class="btn btn-primary" @click="$router.go(-1)">Back</button>
    </div>
    <div class="col-10 ">-->
     <!-- <main class="page-content">
        <div class="container-fluid">
          <div style="text-align: center">
            <h3 class="mb-4">Do Quick Credit And Fraud Result</h3>
          </div>

          <div style="text-align: center">
            {{ doQuickCreditAndFraudResponse }}
          </div>

          
        </div>
      </main>
    </div>
  </div>
</template>
 
<script>
import SideBar from "@/components/SideBar/SideBar.vue";

export default {
  name: "success",
  components: {
    SideBar,
  },
  data() {
    return {
      doQuickCreditAndFraudResponse: {},
      recordSeq: "",
    };
  },

  created() {
    this.doQuickCreditAndFraudResponse = this.$route.params.data;
    console.log(this.$route.params.data);

    //this.dataTable=this.$route.params.data;
    // let jsObject = JSON.parse(this.doQuickCreditAndFraudResponse)
    // console.log(jsObject);
  },
};
</script>
 
<style>
.card-wrappers {
  max-width: 800px;
}
</style>