<template>
  <div class="page-wrapper chiller-theme toggled">
    <SideBar :userType="localStorageItems.userType" />
    <!--<SideBar />-->

    <main class="page-content">
      <div class="container-fluid">
        <div style="text-align: left">
          <div class="card-title" style="text-align: center">
            <h3>Get Quick Credit And Fraud Info</h3>
          </div>

          <b-card class="d-flex m-auto bg-light mb-4">
            <b-form @submit="onSubmit" v-if="show">
              <div class="pt-3 d-flex justify-content-between align-items-end">
                <b-form-group class="col-4" style="width: 100%">
                  <label for="lastname">Last name</label>
                  <b-form-input
                    type="text"
                    placeholder="Enter the last name"
                    class="form-control"
                    id="lastname"
                    v-model="traceuserandcreditandfraud.lastName"
                    name="lastname"
                  ></b-form-input>
                </b-form-group>

                <b-form-group class="col-4" style="width: 100%">
                  <label for="cellnumber"
                    >Cell number<span class="text-danger">*</span></label
                  >
                  <b-form-input
                    type="text"
                    placeholder="Enter cell number starts with '0'"
                    class="form-control"
                    id="cellnumber"
                    required
                    v-model="traceuserandcreditandfraud.cellnumber"
                    name="cellnumber"
                    @keypress="isNumber($event)"
                  ></b-form-input>
                </b-form-group>

                <b-form-group class="col-4">
                  <button class="btn btn-primary" style="margin-right: 16px">
                    Submit
                  </button>
                  <button
                    type="reset"
                    class="btn btn-warning"
                    @click="resetInput"
                    style="margin-right: 16px"
                  >
                    Reset
                  </button>
                </b-form-group>
              </div>
              <div v-if="loading" class="text-center">
                <!-- here put a spinner or whatever you want to indicate that a request is in progress -->
                <b-spinner
                  variant="primary"
                  label="Spinning"
                  style="margin-right: 16px"
                ></b-spinner>
                Please wait for 30 seconds.
              </div>
            </b-form>
          </b-card>
        </div>

        <div class="mt-4" v-if="showSearchResult">
          <div class="card-header">
            <h5 class="text-center">Do Quick Credit And Fraud Result</h5>
          </div>
          <b-card>
            <div class="table-responsive" v-if="showTableData">
              <table class="table table-bordered" style="width: 100%">
                <tr>
                  <th>Forename1</th>
                  <th>Forename2</th>
                  <th>Surname</th>
                  <th>Date of birth</th>
                  <th>Telephone number</th>
                  <th>Title</th>
                </tr>

                <tr>
                  <td>{{ doQuickCreditAndFraudResponse.forename1 }}</td>
                  <td>{{ doQuickCreditAndFraudResponse.forename2 }}</td>
                  <td>{{ doQuickCreditAndFraudResponse.surname }}</td>
                  <td>{{ doQuickCreditAndFraudResponse.dateOfBirth }}</td>
                  <td>{{ doQuickCreditAndFraudResponse.telephoneNumbers }}</td>
                  <td>{{ doQuickCreditAndFraudResponse.title }}</td>
                </tr>

                <tr>
                  <th>Gender</th>
                  <th>Identity number1</th>
                  <th>Marital status description</th>
                  <th>Deceased date</th>
                  <th colspan="2">Credit Score</th>
                </tr>

                <tr>
                  <td>{{ doQuickCreditAndFraudResponse.gender }}</td>
                  <td>{{ doQuickCreditAndFraudResponse.identityNo1 }}</td>
                  <td>
                    {{ doQuickCreditAndFraudResponse.maritalStatusDesc }}
                  </td>
                  <td>{{ doQuickCreditAndFraudResponse.deceasedDate }}</td>
                  <td colspan="2">
                    {{ doQuickCreditAndFraudResponse.credit_Score }}
                  </td>
                </tr>

                <tr>
                  <th>Line1</th>
                  <th>Line2</th>
                  <th>Suburb</th>
                  <th>City</th>
                  <th>Postal Code</th>
                  <th>Address Date</th>
                </tr>

                <tr>
                  <td>{{ doQuickCreditAndFraudResponse.line1 }}</td>
                  <td>{{ doQuickCreditAndFraudResponse.line2 }}</td>
                  <td>{{ doQuickCreditAndFraudResponse.suburb }}</td>
                  <td>{{ doQuickCreditAndFraudResponse.city }}</td>
                  <td>{{ doQuickCreditAndFraudResponse.postalCode }}</td>
                  <td>{{ doQuickCreditAndFraudResponse.informationDate }}</td>
                </tr>

                <tr>
                  <th colspan="6">Credit Score Reasons</th>
                </tr>
                <tr>
                  <td colspan="6">
                    <ul style="text-align: left; list-style-position: inside">
                      <li
                        v-for="(item, key) in reasonCodeValueJsonObject"
                        :key="item.id"
                      >
                        <b> {{ key }}:</b> {{ item }}
                      </li>
                    </ul>
                  </td>
                </tr>

                <tr>
                  <th colspan="6">Fraud section</th>
                </tr>

                <tr
                  v-if="
                    doQuickCreditAndFraudResponse.rating != null &&
                    doQuickCreditAndFraudResponse.ratingDescription != null
                  "
                >
                  <th>Rating</th>
                  <th colspan="2">Rating Description</th>
                  <th>Reason Code</th>
                  <th colspan="2">Reason Description</th>
                </tr>

                <tr
                  v-if="
                    doQuickCreditAndFraudResponse.rating != null &&
                    doQuickCreditAndFraudResponse.ratingDescription != null
                  "
                >
                  <td>
                    {{ doQuickCreditAndFraudResponse.rating }}
                  </td>
                  <td colspan="2">
                    {{ doQuickCreditAndFraudResponse.ratingDescription }}
                  </td>
                  <td>
                    {{ doQuickCreditAndFraudResponse.fraudReasonCode }}
                  </td>
                  <td colspan="2">
                    {{ doQuickCreditAndFraudResponse.fraudReasonDescription }}
                  </td>
                </tr>

                <tr v-else>
                  <th colspan="6">No Fraud data</th>
                </tr>
              </table>

              <div class="mt-4">
                <h5 class="text-center">Credit Score Bands</h5>
                <ScoreBrand />
              </div>
            </div>
            <div v-else>
              {{ showMessage }}
            </div>
          </b-card>
        </div>
      </div>
    </main>
  </div>
</template>
 
<script>
import http from "../http-common";
import SideBar from "@/components/SideBar/SideBar.vue";
import ScoreBrand from "@/components/ScoreBrand/ScoreBrand.vue";

//import router from '../router';
//import SuccessMsgPage from  "./components/SuccessMsgPage.vue";

export default {
  name: "TraceUser",
  components: {
    SideBar,
    ScoreBrand,
  },
  data() {
    return {
      traceuserandcreditandfraud: {
        lastName: "",
        cellnumber: "",
        loader: true,
      },
      data: "",
      doQuickCreditAndFraudResponse: [],
      localStorageItems: [],
      userEmailAddress: "",
      show: true,
      loading: false,
      showSearchResult: false,
      identityNumber1: "",
      showTableData: false,
      showMessage: "",

      reasonCodeValueJsonObject: {},
    };
  },
  mounted() {
    this.localStorageItems = JSON.parse(localStorage.getItem("Item"));
    this.userEmailAddress = JSON.parse(
      localStorage.getItem("Item")
    ).userEmailAddress;

    history.pushState(null, null, location.href);
    window.onpopstate = function () {
      history.go(1);
    };
  },
  methods: {
    /* eslint-disable no-console */
    onSubmit(evt) {
      this.loading = true; //the loading begin

      var data = {
        lastName: this.traceuserandcreditandfraud.lastName,
        cellNumber: this.traceuserandcreditandfraud.cellnumber,
        userEmailAddress: this.userEmailAddress,
      };
      evt.preventDefault();

      http
        .post("/getTraceUserAndCreditAndFraudInfo", data)
        .then((response) => {
          data = response.data;
          this.showSearchResult = true;
          this.loading = false;

          console.log("data" + this.data);
          this.doQuickCreditAndFraudResponse = response.data;
          console.log(response.data);
          this.identityNumber1 = response.data.identityNo1;
          if (this.identityNumber1 == null) {
            this.showTableData = false;
            this.showMessage =
              "The id, name/surname combination does not match our home affairs verified data";
          } else {
            this.showTableData = true;
            this.reasonCodeValueJsonObject = this.doQuickCreditAndFraudResponse.reasonCodeAndValueMap;
          }
        })
        .catch((e) => {
          this.showSearchResult = false;
          this.loading = false;
          this.showTableData = false;
          if (e.response.status == "500") {
            this.loading = false;
            this.resetInput();
            alert("Something wrong please try again");
          }

          console.log(e);
        });
    },

    resetInput() {
      this.traceuserandcreditandfraud.cellnumber = "";
      this.traceuserandcreditandfraud.lastName = "";
    },
    isNumber: function (evt) {
      evt = evt ? evt : window.event;
      var charCode = evt.which ? evt.which : evt.keyCode;
      if (
        charCode > 31 &&
        (charCode < 48 || charCode > 57) &&
        charCode !== 46
      ) {
        evt.preventDefault();
      } else {
        return true;
      }
    },

    /* eslint-enable no-console */
  },
};
</script>
 
<style>
.table-responsive {
  overflow-y: scroll;
  height: 450px;
}
</style>