<template>
  <div class="page-wrapper chiller-theme toggled" v-if="showSidebar">
    <SideBar :userType="localStorageItems.userType" /><!-- sidebar-->

    <main class="page-content">
      <div class="container-fluid">
        <div style="text-align: left">
          <div class="mb-2" style="text-align: center">
            <h3>Search</h3>
          </div>

          <b-card class="userHistory-card d-flex m-auto bg-light mb-4">
            <b-form @submit="onSubmit">
              <div class="row d-flex justify-content-between align-items-end">
                <b-form-group class="col-sm-4 px-2" style="width: 100%">
                  <label for="firstname">First name</label>
                  <b-form-input type="text" placeholder="Enter the first name" class="form-control" id="firstName"
                    name="firstName" v-model="userHistoryForm.firstName"></b-form-input>
                </b-form-group>

                <b-form-group class="col-sm-4 px-2" style="width: 100%">
                  <label for="lastName">Last name</label>
                  <b-form-input type="text" placeholder="Enter the last name" class="form-control" id="lastName"
                    name="lastName" v-model="userHistoryForm.lastName"></b-form-input>
                </b-form-group>

                <b-form-group class="col-sm-4 px-2" style="width: 100%">
                  <label for="nationalIdNumber">National id number</label>
                  <b-form-input type="text" placeholder="Enter the national id number" class="form-control"
                    id="nationalIdNumber" name="nationalIdNumber" v-model="userHistoryForm.idNumber"
                    @keypress="isNumber($event)"></b-form-input>
                </b-form-group>
              </div>

              <div class="row  d-flex justify-content-between align-items-end mt-4 mb-4">

                <b-form-group class="col-sm-4 px-2" style="width: 100%">
                  <label for="startDate">Start date</label>
                  <b-form-datepicker v-model="userHistoryForm.startDate" :max="userHistoryForm.endDate"
                    :date-format-options="{
                      year: 'numeric',
                      month: 'numeric',
                      day: 'numeric',
                    }" locale="en"></b-form-datepicker>
                </b-form-group>

                <b-form-group class="col-sm-4 px-2" style="width: 100%">
                  <label for="endDate">End date</label>
                  <b-form-datepicker v-model="userHistoryForm.endDate" :min="userHistoryForm.startDate"
                    :date-format-options="{
                      year: 'numeric',
                      month: 'numeric',
                      day: 'numeric',
                    }" locale="en"></b-form-datepicker>
                </b-form-group>

                <b-form-group class="col-sm-4 px-2" style="width: 100%">
                  <button class="btn btn-primary mt-2" style="margin-right: 16px">
                    Submit
                  </button>
                  <button type="reset" class="btn btn-warning  mt-2" @click="resetInput" style="margin-right: 16px">
                    Reset
                  </button>
                </b-form-group>

              </div>
              <div></div>

              <div v-if="loading" class="text-center">
                <!-- here put a spinner or whatever you want to indicate that a request is in progress -->
                <b-spinner variant="primary" label="Spinning"></b-spinner>
              </div>
            </b-form>
          </b-card>

          <div class="userHistoryResulTableDiv mt-4" v-if="showSearChResult">
            <div class="card-header">
              <h3 class="text-center">Search result</h3>

            </div>
            <b-card class=" mb-3" v-if="items.length">
              <div class="row mb-3 justify-content-between ">

                <!--if user type is admin-->
                <div v-if="userType == 'admin'" class="col-sm-3 mt-2">
                  <button class="btn btn-primary" v-on:click="clearUserHistory()" style="margin-right: 7px">
                    <b-icon icon="archive" aria-hidden="true" style="margin-right: 5px"></b-icon>Clear user history
                  </button>
                </div>

                <div class="col-sm-4 mt-2 text-danger" style="text-align: center;">
                  {{clearHistoryMsg}}
                </div>

                <div class="col-sm-3 mt-2" style="text-align: right;">
                  <button class="btn btn-primary" v-on:click="onClick()" style="margin-right: 7px">
                    <b-icon icon="download" aria-hidden="true" style="margin-right: 5px"></b-icon>Download report
                  </button>
                </div>
              </div>

              <div class="row  mb-2 justify-content-between">
                <div class="col-sm-3 mt-2">
                  <b-form-select class="numPerPage" v-model="perPage" :options="pageOptions"></b-form-select>
                </div>

                <div class="col-sm-3 mt-2">
                  <b-form-input v-model="filter" type="search" placeholder="Search"></b-form-input>
                </div>
              </div>

              <div class="userHistoryTableResponsiveDiv">
               <!--if user type is admin-->

                <b-table v-if="userType == 'admin'" class="table table-bordered "  :items="items"
                  :fields="fields" :filter="filter" :per-page="perPage" :current-page="currentPage"
                  @row-selected="onRowSelected" selectable select-mode="multi" style="width: 100%; height: 100%">

                  <template #cell(selected)="{ rowSelected }">
                    <template v-if="rowSelected">
                      <span aria-hidden="true">&check;</span>
                      <span class="sr-only">Selected</span>
                    </template>
                    <template v-else>
                      <span aria-hidden="true">&nbsp;</span>
                      <span class="sr-only">Not selected</span>
                    </template>
                  </template>
                </b-table>

                <!--if user type is user-->
                <b-table v-if="userType == 'user'" class="table table-bordered" responsive="sm" :items="items"
                  :fields="userHistoryTableFields" :filter="filter" :per-page="perPage" :current-page="currentPage"
                  style="width: 100%; height: 100%">
                </b-table>

              </div>

              <div class="row mb-2 justify-content-between">
                <div class="col-sm-3">
                  Showing total {{ items.length }} entries
                </div>
                <div class="col-sm-3">
                  <b-pagination v-model="currentPage" :total-rows="rows" :per-page="perPage" v-if="items.length"
                    align="right"></b-pagination>
                </div>
              </div>
            </b-card>

            <b-card v-if="!items.length">
              <div style="text-align: center">No data found</div>
            </b-card>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
  import http from "../http-common";
  import axios from "axios";
  import SideBar from "@/components/SideBar/SideBar.vue";
  //import Datepicker from "vuejs-datepicker/dist/vuejs-datepicker.esm.js";
  //import jQuery from "jquery";
  //const $ = jQuery;
  //window.$ = $;
  export default {
    name: "userhistory",
    components: {
      SideBar,
    },
    data() {
      return {
        userHistoryForm: {
          firstName: "",
          lastName: "",
          idNumber: "",
          startDate: null,
          endDate: null,
        },
        showSearChResult: false,
        loading: false,
        userEmailAddress: "",
        userType: "",
        reportFileName: "",
        downloadbuttonloader: false,
        showSidebar: false,
        selectedRowData: [],
        userHistoryData: [],
        clearHistoryMsg: '',
        //table  data
        items: {},
        userHistoryTableFields: [{
            key: "apiService",
            sortable: true
          },
          {
            key: "date",
            sortable: true,
            tbClass: "dateFieldClass"
          },
          {
            key: "userName",
            sortable: true
          },
          {
            key: "firstName",
            sortable: true
          },
          {
            key: "lastName",
            sortable: true
          },
          {
            key: "idNumber",
            sortable: true
          },
          {
            key: "cellNumber",
            sortable: true
          },
          {
            key: "responseStatus",
            sortable: true
          },
        ],
        //when user type is admin
        fields: [{
            key: "selected",
          },
          {
            key: "apiService",
            sortable: true
          },
          {
            key: "date",
            sortable: true,
            tbClass: "dateFieldClass"
          },
          {
            key: "userName",
            sortable: true
          },
          {
            key: "firstName",
            sortable: true
          },
          {
            key: "lastName",
            sortable: true
          },
          {
            key: "idNumber",
            sortable: true
          },
          {
            key: "cellNumber",
            sortable: true
          },
          {
            key: "responseStatus",
            sortable: true
          },
        ],
        //for pagination
        perPage: 10,
        currentPage: 1,
        //for filtering
        filter: "",
        //localStorageItems
        localStorageItems: [],
        //pageOptions
        pageOptions: [
          5,
          10,
          20,
          50,
          {
            value: Number.MAX_SAFE_INTEGER,
            text: "show all",
          },
        ],
      };
    },
    computed: {
      rows() {
        return this.items.length;
      },
      /*itemsWithSno() {
        return this.desserts.map((d, index) => ({ ...d, sno: index + 1 }));
      },*/
    },
    mounted() {
      this.localStorageItems = JSON.parse(localStorage.getItem("Item"));
      //if localstorage is not equal to  null
      if (this.localStorageItems != null) {
        this.userEmailAddress = JSON.parse(
          localStorage.getItem("Item")
        ).userEmailAddress;
        this.userType = JSON.parse(localStorage.getItem("Item")).userType;
        this.showSidebar = true;
      } else {
        //else localstorage is null
        this.$router
          .push({
            name: "Login",
          })
          .catch(() => {});
      }
      history.pushState(null, null, location.href);
      window.onpopstate = function() {
        history.go(1);
      };
    },
    methods: {
      /* eslint-disable no-console */
      //on the row selection
      onRowSelected(items) {
        this.selectedRowData = items;
        if (this.selectedRowData.length == 0) {
          this.clearHistoryMsg = "";
        } else {
          this.clearHistoryMsg = "Selected row are " + this.selectedRowData.length;
        }
        console.log(this.selectedRowData);
      },
      //from submisson the method
      onSubmit(evt) {
        this.loading = true; //the loading begin
        var data = {
          firstName: this.userHistoryForm.firstName,
          lastName: this.userHistoryForm.lastName,
          idNumber: this.userHistoryForm.idNumber,
          startDate: this.userHistoryForm.startDate,
          endDate: this.userHistoryForm.endDate,
          userEmailAddress: this.userEmailAddress,
        };
        evt.preventDefault();
        http
          .post("/getUserHistory/" + this.userType, data)
          .then((response) => {
            this.showSearChResult = true;
            this.loading = false;
            this.items = response.data.listOfSearchUserHistory;
            this.reportFileName = response.data.genratedReportFileName;
            console.log(response.data);
          })
          .catch((e) => {
            this.showSearChResult = false;
            this.loading = false;
            console.log(e);
          });
      },
      //after clicking on download button this method call
      onClick() {
        this.downloadbuttonloader = true; //the loading begin
        axios({
            url: this.$baseUrl + "/download/" +
              this.reportFileName,
            method: "GET",
            responseType: "blob",
          })
          .then((response) => {
            const url = URL.createObjectURL(
              new Blob([response.data], {
                type: "application/vnd.ms-excel",
              })
            );
            const link = document.createElement("a");
            link.href = url;
            link.setAttribute("download", "user_history_report.xlsx");
            document.body.appendChild(link);
            link.click();
            this.downloadbuttonloader = false;
            console.log(response.data);
          })
          .catch((e) => {
            this.downloadbuttonloader = false;
            console.log(e);
          });
      },
      //to clear user history data 
      clearUserHistory() {
        //if selectedRowData is null or 0 then not call the api 
        if (this.selectedRowData.length == 0) {
          this.clearHistoryMsg = "Select row from user history  to delete. ";
        } else { //if selectedRowData is not null or 0 then  call the api 
          this.clearHistoryMsg = "";
          for (let i = 0; i < this.selectedRowData.length; i++) {
            this.userHistoryData.push(this.selectedRowData[i].id);
          }
          this.loading = true; //the loading begin
          console.log("user hsitory data" + this.userHistoryData);
          var data = {
            firstName: this.userHistoryForm.firstName,
            lastName: this.userHistoryForm.lastName,
            idNumber: this.userHistoryForm.idNumber,
            startDate: this.userHistoryForm.startDate,
            endDate: this.userHistoryForm.endDate,
            userEmailAddress: this.userEmailAddress,
            userHistoryData: this.userHistoryData,
          }
          console.log(data);
          http
            .post("/clearUserHistory", data)
            .then((response) => {
              this.showSearChResult = true;
              this.loading = false;
              this.items = response.data.listOfSearchUserHistory;
              this.reportFileName = response.data.genratedReportFileName;
              console.log(response.data);
            })
            .catch((e) => {
              this.showSearChResult = false;
              this.loading = false;
              console.log(e);
            });
        }
      },
      isNumber: function(evt) {
        evt = evt ? evt : window.event;
        var charCode = evt.which ? evt.which : evt.keyCode;
        if (
          charCode > 31 &&
          (charCode < 48 || charCode > 57) &&
          charCode !== 46
        ) {
          evt.preventDefault();
        } else {
          return true;
        }
      },
      resetInput() {
        this.userHistoryForm.firstName = "";
        this.userHistoryForm.lastName = "";
        this.userHistoryForm.startDate = "";
        this.userHistoryForm.endDate = "";
        this.userHistoryForm.idNumber = "";
      },
      /* eslint-enable no-console */
    },
  };
</script>

<style>
  .userHistory-card {
   min-height: 320px !important;
    max-width: 100% !important;
    margin-left: auto;
    margin-left: auto;
  }

  .startDate {
    width: 150px;
  }


  .dateFieldClass {

    text-overflow: ellipsis !important;
  }

  .userHistoryResulTableDiv {
    max-height: 100% !important;
    max-width: 100% !important;
    margin-left: auto;
    margin-left: auto;
  }
  
  .userHistoryTableResponsiveDiv {
  overflow-y: scroll;
  max-height:450px !important;
 
  }


  
</style>
