<template>
  <div style="text-align: left">
    <div class="registerFromCard-Title" style="text-align: center">
      <h3>Create Account</h3>
    </div>

    <b-card class="registerFromCard-Wrapper m-auto bg-light">
      <b-form v-on:submit.prevent="submit" v-if="show">
        <div class="row">
          <b-form-group class="col-sm-6">
            <label for="firstname"
              >First name<span class="text-danger">*</span></label
            >
            <b-form-input
              type="text"
              placeholder="Enter the first name"
              class="form-control"
              id="firstName"
              name="firstName"
              :class="{
                'is-invalid': validationStatus($v.registerFrom.firstName),
              }"
              v-model.trim="$v.registerFrom.firstName.$model"
            ></b-form-input>
            <div
              v-if="!$v.registerFrom.firstName.required"
              class="invalid-feedback"
            >
              The first name field is required.
            </div>
            <div
              v-if="!$v.registerFrom.firstName.minLength"
              class="invalid-feedback"
            >
              The first name must have at least
              {{ $v.registerFrom.firstName.$params.minLength.min }} letters.
            </div>
          </b-form-group>

          <b-form-group class="col-sm-6">
            <label for="lastname"
              >Last name<span class="text-danger">*</span></label
            >
            <b-form-input
              type="text"
              placeholder="Enter the last name"
              class="form-control"
              id="lastName"
              name="lastName"
              :class="{
                'is-invalid': validationStatus($v.registerFrom.lastName),
              }"
              v-model.trim="$v.registerFrom.lastName.$model"
            ></b-form-input>
            <div
              v-if="!$v.registerFrom.lastName.required"
              class="invalid-feedback"
            >
              The last name field is required.
            </div>
            <div
              v-if="!$v.registerFrom.lastName.minLength"
              class="invalid-feedback"
            >
              The last name must have at least
              {{ $v.registerFrom.lastName.$params.minLength.min }} letters.
            </div>
          </b-form-group>
        </div>

        <div class="row">
          <b-form-group class="col-sm-6">
            <label for="officeContactNumber"
              >Contact Number (Office)<span class="text-danger">*</span></label
            >
            <b-form-input
              type="text"
              placeholder="Enter the office contact number"
              class="form-control"
              id="officeContactNumber"
              name="officeContactNumber"
              :class="{
                'is-invalid': validationStatus(
                  $v.registerFrom.officeContactNumber
                ),
              }"
              v-model.trim="$v.registerFrom.officeContactNumber.$model"
              @keypress="isNumber($event)"
            ></b-form-input>
            <div
              v-if="!$v.registerFrom.officeContactNumber.required"
              class="invalid-feedback"
            >
              The office contact number field is required.
            </div>
            <div
              v-if="!$v.registerFrom.officeContactNumber.maxLength"
              class="invalid-feedback"
            >
              The Office contact number not have greater then
              {{ $v.registerFrom.officeContactNumber.$params.maxLength.max }}
              digits.
            </div>
          </b-form-group>

          <b-form-group class="col-sm-6">
            <label for="mobileNumber"
              >Contact Number (Mobile)<span class="text-danger">*</span></label
            >
            <b-form-input
              type="text"
              placeholder="Enter the mobile number"
              class="form-control"
              id="mobileNumber"
              name="mobileNumber"
              :class="{
                'is-invalid': validationStatus($v.registerFrom.mobileNumber),
              }"
              v-model.trim="$v.registerFrom.mobileNumber.$model"
              @keypress="isNumber($event)"
            ></b-form-input>
            <div
              v-if="!$v.registerFrom.mobileNumber.required"
              class="invalid-feedback"
            >
              The mobile number field is required.
            </div>
            <div
              v-if="!$v.registerFrom.mobileNumber.maxLength"
              class="invalid-feedback"
            >
              The mobile number not have greater then
              {{ $v.registerFrom.mobileNumber.$params.maxLength.max }} digits.
            </div>
          </b-form-group>
        </div>

        <b-form-group>
          <label for="emailAddress"
            >Email Address<span class="text-danger">*</span></label
          >
          <b-form-input
            type="email"
            placeholder="Enter the email address"
            class="form-control"
            id="emailAddress"
            name="emailAddress"
            :class="{
              'is-invalid': validationStatus($v.registerFrom.emailAddress),
            }"
            v-model.trim="$v.registerFrom.emailAddress.$model"
          ></b-form-input>
          <div
            v-if="!$v.registerFrom.emailAddress.required"
            class="invalid-feedback"
          >
            The email address field is required.
          </div>
          <div
            v-if="!$v.registerFrom.emailAddress.email"
            class="invalid-feedback"
          >
            The email address is not valid.
          </div>
        </b-form-group>

        <b-form-group>
          <label for="companyName"
            >Company Name<span class="text-danger">*</span></label
          >
          <b-form-input
            type="text"
            placeholder="Enter the company name"
            class="form-control"
            id="companyName"
            name="companyName"
            :class="{
              'is-invalid': validationStatus($v.registerFrom.companyName),
            }"
            v-model.trim="$v.registerFrom.companyName.$model"
          ></b-form-input>
          <div
            v-if="!$v.registerFrom.companyName.required"
            class="invalid-feedback"
          >
            The company name is required.
          </div>
          <div
            v-if="!$v.registerFrom.companyName.minLength"
            class="invalid-feedback"
          >
            The company name must have at least
            {{ $v.registerFrom.companyName.$params.minLength.min }} letters.
          </div>
        </b-form-group>

        <div class="row">
          <b-form-group class="col-sm-6">
            <label for="companyRegNumber">Company Reg Number</label>
            <b-form-input
              type="text"
              placeholder="Enter the Company Reg Number"
              class="form-control"
              id="companyRegNumber"
              name="companyRegNumber"
              :class="{
                'is-invalid': validationStatus(
                  $v.registerFrom.companyRegNumber
                ),
              }"
              v-model.trim="$v.registerFrom.companyRegNumber.$model"
              @keypress="isNumber($event)"
            ></b-form-input>
            <div
              v-if="!$v.registerFrom.companyRegNumber.maxLength"
              class="invalid-feedback"
            >
              Company Reg Number not have greater then
              {{ $v.registerFrom.companyRegNumber.$params.maxLength.max }}
              digits.
            </div>
          </b-form-group>

          <b-form-group class="col-sm-6">
            <label for="companyVatNumber">Company VAT Number</label>
            <b-form-input
              type="text"
              placeholder="Enter the Company VAT Number"
              class="form-control"
              id="companyVatNumber"
              name="companyVatNumber"
              :class="{
                'is-invalid': validationStatus(
                  $v.registerFrom.companyVatNumber
                ),
              }"
              v-model.trim="$v.registerFrom.companyVatNumber.$model"
            ></b-form-input>
            <div
              v-if="!$v.registerFrom.companyVatNumber.maxLength"
              class="invalid-feedback"
            >
              Company VAT Number not have greater then
              {{ $v.registerFrom.companyVatNumber.$params.maxLength.max }}
              digits.
            </div>
          </b-form-group>
        </div>

        <div style="text-align: center" class="mb-2">
          <button class="btn btn-primary btn-lg">Submit</button>
        </div>

        <div v-if="loading" class="text-center">
          <!-- here put a spinner or whatever you want to indicate that a request is in progress -->
          <b-spinner variant="primary" label="Spinning"></b-spinner>
        </div>

        <div v-if="showMsg" class="text-center">
          <span class="text-success"> {{ msg }}</span>
        </div>

        <div class="text-center">
          <b-link href="/login">Have an account? Go to login</b-link>
        </div>
      </b-form>
    </b-card>
  </div>
</template>
 
<script>
import {
  required,
  email,
  minLength,
  maxLength,
} from "vuelidate/lib/validators";
import http from "../http-common";

export default {
  name: "userregister",
  data() {
    return {
      registerFrom: {
        firstName: "",
        lastName: "",
        officeContactNumber: "",
        mobileNumber: "",
        emailAddress: "",
        companyName: "",
        companyRegNumber: "",
        companyVatNumber: "",
      },
      msg: "",
      show: true,
      loading: false,
      showMsg: false,
      isEmailAlreadyExist: false,
    };
  },
  validations: {
    registerFrom: {
      firstName: { required, minLength: minLength(2) },
      lastName: { required, minLength: minLength(2) },
      officeContactNumber: {
        required,
        maxLength: maxLength(10),
        minLength: minLength(10),
      },
      mobileNumber: {
        required,
        maxLength: maxLength(10),
        minLength: minLength(10),
      },
      emailAddress: { required, email },
      companyName: { required, minLength: minLength(2) },
      companyRegNumber: { maxLength: maxLength(12), minLength: minLength(12) },
      companyVatNumber: { maxLength: maxLength(10), minLength: minLength(10) },
    },
  },

  methods: {
    /* eslint-disable no-console */
    validationStatus: function (validation) {
      return typeof validation != "undefined" ? validation.$error : false;
    },

    submit: function () {
      this.$v.$touch();
      if (this.$v.$pendding || this.$v.$error) return;
      this.loading = true; //the loading begin
      var data = {
        firstName: this.registerFrom.firstName,
        lastName: this.registerFrom.lastName,
        officeContactNumber: this.registerFrom.officeContactNumber,
        mobileNumber: this.registerFrom.mobileNumber,
        emailAddress: this.registerFrom.emailAddress,
        companyName: this.registerFrom.companyName,
        companyRegNumber: this.registerFrom.companyRegNumber,
        companyVatNumber: this.registerFrom.companyVatNumber,
      };

      http
        .post("/register", data)
        .then((response) => {
          data = response.data;
          console.log(response.data);
          //getting success message from response
          this.msg = response.data;
          this.showMsg = true;
          this.loading = false;
        })
        .catch((e) => {
          this.loading = false;
          console.log(e);
        });
      event.target.reset();
    },

    isNumber: function (evt) {
      evt = evt ? evt : window.event;
      var charCode = evt.which ? evt.which : evt.keyCode;
      if (
        charCode > 31 &&
        (charCode < 48 || charCode > 57) &&
        charCode !== 46
      ) {
        evt.preventDefault();
      } else {
        return true;
      }
    },
    /* eslint-enable no-console */
  },
};
</script>
 
<style>
.registerFromCard-Wrapper {
  max-width: 700px;
}
.registerFromCard-Title {
  color: black;
  margin-bottom: 20px;
}
</style>