<template>
  <div class="page-wrapper chiller-theme toggled" v-if="showSidebar">
    <SideBar :userType="localStorageItems.userType" />
    <!-- sidebar-->

    <!-- Page Content -->

    <main class="page-content">
      <div v-if="loading" class="text-center">
        <!-- here put a spinner or whatever you want to indicate that a request is in progress -->
        <b-spinner variant="primary" label="Spinning"></b-spinner>
      </div>
      <div class="container-fluid" v-if="showUserDeatailsSearChResult">
        <div class="justify-content-between">
          <h4>User management</h4>
        </div>
        <hr />

        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th><nobr>User name</nobr></th>
                    <th><nobr>Email address</nobr></th>
                    <th><nobr>Company name</nobr></th>
                    <th><nobr>Mobile number</nobr></th>
                    <th><nobr>Office contact number</nobr></th>
                    <th><nobr>Password</nobr></th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tr
                  v-for="(
                    registeredUserDeatails, index
                  ) in registeredUserDeatails"
                  :key="index"
                >
                  <td>{{ registeredUserDeatails.userName }}</td>
                  <td>{{ registeredUserDeatails.emailAddress }}</td>
                  <td>{{ registeredUserDeatails.companyName }}</td>
                  <td>{{ registeredUserDeatails.mobileNumber }}</td>
                  <td>{{ registeredUserDeatails.officeContactNumber }}</td>
                  <td>{{ registeredUserDeatails.password }}</td>
                  <td>
                    <nobr>
                      <div
                        v-if="registeredUserDeatails.account_locked == 'locked'"
                        style="color: red"
                      >
                        <label
                          >Unlocked
                          <input
                            type="checkbox"
                            label="Locked"
                            cssClass="e-danger"
                            @change="
                              UserAccountLockedAndUnlocked(
                                'unlocked',
                                registeredUserDeatails.emailAddress
                              )
                            "
                            checked
                          />
                        </label>
                      </div>
                      <div v-else>
                        <label
                          >Locked
                          <input
                            type="checkbox"
                            label="Locked"
                            @change="
                              UserAccountLockedAndUnlocked(
                                'locked',
                                registeredUserDeatails.emailAddress
                              )
                            "
                          />
                        </label>
                      </div>
                    </nobr>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>
 
<script>
import SideBar from "@/components/SideBar/SideBar.vue";
import http from "../http-common";

export default {
  components: {
    SideBar,
  },
  data: function () {
    return {
      registeredUserDeatails: [],
      localStorageItems: [],
      interval: null,
      showUserDeatailsSearChResult: false,
      loading: false,
      showSidebar: false,
      userEmailAddress:"",
      userType:"",
    };
  },
  /*created() {
    this.interval = setInterval(this.refreshData, 5000);
  },
  beforeDestroy() {
    clearInterval(this.interval);
  },*/
  mounted() {
    this.localStorageItems = JSON.parse(localStorage.getItem("Item"));
    //if localstorage is not equal to  null
    console.log("In mounted method"+this.localStorageItems)
    if (this.localStorageItems != null) {
      this.userEmailAddress = JSON.parse(
        localStorage.getItem("Item")
      ).userEmailAddress;
      this.userType = JSON.parse(localStorage.getItem("Item")).userType;
      this.showSidebar = true;
      this.getRegisteredUserDetails();
    } else {
      //else localstorage is null
      this.$router
        .push({
          name: "Login",
        })
        .catch(() => {});
    }

    history.pushState(null, null, location.href);
    window.onpopstate = function () {
      history.go(1);
    };
  },
  methods: {
    /* eslint-disable no-console */
    getRegisteredUserDetails() {
      this.loading = true;
      http
        .get("/registeredUserList")
        .then((response) => {
          this.registeredUserDeatails = response.data;
          this.showUserDeatailsSearChResult = true;
          this.loading = false;
          console.log(response.data);
        })
        .catch((e) => {
          this.showUserDeatailsSearChResult = false;
          this.loading = false;
          console.log(e);
        });
    },
    UserAccountLockedAndUnlocked: function (
      lockedUnlockedValue,
      registeredEmailAddress
    ) {
      console.log(lockedUnlockedValue + "," + registeredEmailAddress);
      http
        .put(
          "/updateLockedUnlockedFlag/" +
            lockedUnlockedValue +
            "/" +
            registeredEmailAddress
        )
        .then((response) => {
          this.registeredUserDeatails = response.data;
          location.reload();
          this.showUserDeatailsSearChResult = true;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },

    /* eslint-enable no-console */
  },
};
</script>

<style scoped>

.table-responsive {
  overflow-y: scroll;
  height: 450px;
}
.lockedCheckbox input[type="checkbox"] {
  outline: 2px solid #c00;
}
</style>