<template>
  <div class="scorebandtablecontentdiv" align="center" style=" vertical-align: middle;">
    <h5 >Credit Score Bands</h5>
    <table class="mb-4" style="text-align: center; ">
      <tr style="background:#00BFFF; color:white">
        <td>Band</td>
        <td>Min Score</td>
        <td>Max Score</td>
        <td>Band Name</td>
        <td>Band Color</td>
      </tr>
      <tr class="rowScoreBrand">
        <td>1</td>
        <td>1</td>
        <td>486</td>
        <td>Poor</td>
        <td align="center" style=" vertical-align: middle;">
          <div class="squareBox mt-2 mb-2 " style="background-color: red;"></div>
        </td>
      </tr>

      <tr class="rowScoreBrand">
        <td>2</td>
        <td>487</td>
        <td>526</td>
        <td>Unfavourable</td>
        <td align="center" style=" vertical-align: middle;">
          <div class="squareBox mt-2 mb-2" style="background-color:#FF4500;"></div>
        </td>
      </tr>

      <tr class="rowScoreBrand">
        <td>3</td>
        <td>527</td>
        <td>582</td>
        <td>Below Average</td>
        <td align="center" style=" vertical-align: middle;">
          <div class="squareBox mt-2 mb-2 " style="background-color:#FFA500;"></div>
        </td>
      </tr>

      <tr class="rowScoreBrand">
        <td>4</td>
        <td>583</td>
        <td>613</td>
        <td>Average</td>
        <td align="center" style=" vertical-align: middle;">
          <div class="squareBox mt-2 mb-2" style="background-color:#FFFF00;"></div>
        </td>
      </tr>

      <tr class="rowScoreBrand">
        <td>5</td>
        <td>614</td>
        <td>680</td>
        <td>Favourable</td>
        <td align="center" style=" vertical-align: middle;">
          <div class="squareBox mt-2 mb-2" style="background-color:#7FFF00;"></div>
        </td>
      </tr>

      <tr class="rowScoreBrand">
        <td>6</td>
        <td>681</td>
        <td>766</td>
        <td>Good</td>
        <td align="center" style=" vertical-align: middle;">
          <div class="squareBox mt-2 mb-2" style="background-color:#6B8E23;"></div>
        </td>
      </tr>

      <tr class="rowScoreBrand">
        <td>7</td>
        <td>767</td>
        <td>999</td>
        <td>Excellent</td>
        <td align="center" style=" vertical-align: middle;">
          <div class="squareBox mt-2 mb-2 " style="background-color:#008000;"></div>
        </td>
      </tr>
    </table>
  </div>

</template>

<script>
  export default {
    name: "score-brand",
    data() {
      return {
        localStorageItems: [],
      };
    },
  };
</script>

<style>
  .squareBox {
    margin: 2px;
    min-width: 70px;
    min-height: 40px;
  }

  .rowScoreBrand {
    background: #F0F0F0
  }

  table,
  th,
  td {
    padding: 5px;
    border: 2px solid white;

  }

  .scorebandtablecontentdiv {
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 650px !important;
    width: 100%;
  }

  @media screen and (max-width: 600px) {
    table {
      max-width: 200px;
      max-height: 200px;
      padding: 0px;
      margin-right: auto;
      overflow:  scroll;
    

    }
    h5{
      text-align: center;
    }
    scorebandtablecontentdiv{
      justify-content: right;
    }
    
  }
</style>