<template>
  <div >
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
      <b-icon icon=" menu-button-wide"></b-icon>
    </a>

    <nav id="sidebar" class="sidebar-wrapper">
      <div class="sidebar-content">
        <div class="sidebar-brand">
          <a href="#">ETESI</a>
          <div id="close-sidebar">
            <b-icon icon="X"></b-icon>
          </div>
        </div>

        <div class="sidebar-menu">
          <ul>
            <li v-if="userType == 'admin' &&  userType !== null ">
              <router-link to="/user-management">
                <b-icon icon="people-fill" style="margin-right: 5px"></b-icon>
                <span>User management</span>
              </router-link>
            </li>

            <li>
              <router-link to="/creditandfraud-info">
                <b-iconstack style="margin-right: 6px">
                  <b-icon icon="square"></b-icon>
                  <b-icon icon="check"></b-icon>
                </b-iconstack>
                <span>Quick credit and fraud</span>
              </router-link>
            </li>
            <li>
              <router-link to="/user-history">
                <b-icon icon="arrow-counterclockwise" style="margin-right: 5px"></b-icon>
                <span>User history</span>
              </router-link>
            </li>

              <li v-if="userType == 'admin' &&  userType !== null ">
              <router-link to="/bulkcsvfile-uploadanddownload">
                <b-icon  icon="upload" style="margin-right: 5px"></b-icon>
                <span>Bulk CSV upload</span>
              </router-link>
            </li>

            <li>
              <router-link to="/" v-on:click.native="destroyLocalStorage()">
                <b-icon icon="person-fill" style="margin-right: 5px"></b-icon>
                <span>Logout</span>
              </router-link>
            </li>

            
          </ul>
        </div>
        <!-- sidebar-menu  -->
      </div>
    </nav>
  </div>
</template>

<script>
  import $ from "jquery";
  import "@/assets/css/style.css";
  export default {
    name: "sidebar",
    props: ["userType"],
    isOpen: false,
    selected: undefined,
    mounted() {
      $("#close-sidebar").click(function() {
        $(".page-wrapper").removeClass("toggled");
      });
      $("#show-sidebar").click(function() {
        $(".page-wrapper").addClass("toggled");
      });

      
    },
    methods: {
      destroyLocalStorage: function() {
        window.localStorage.clear();
         this.$router
          .push({
            name: "Login",
          })
          .catch(() => {});
      },
    },
  };
</script>




