<template>
    <div id="app" class="container-fluid">
        
        <br/>
        <router-view/>
    </div>
</template>
 
<script>
export default {
  name: "app"
};
</script>
 
<style>

 
.container-fluid {
  text-align: center;
}
</style>